body{
    height: 100svh;
}

header{
    height: 25svh;
}

main{
    height: 60svh;
}

.contenedor_main{
    margin: 0;
    padding: 0;
    height: 60svh;
    background-image: url("../media/imagenes/FONDO_PACIENTES.jpg");
    background-position: center;
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    height: 100px;
    width: 400%;
    gap: rem;

    /*background-color: var(--blanco);
    box-shadow: inset 0vh 1vh #bbbbbb0c;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: grid;
    display: flex;

    grid-auto-rows: 6rem;
    grid-template-columns: repeat(auto-fill, minmax(6rem,1fr));*/
  }

.contacto {
    width: 90%;
    min-width: 370px;
    height: 90%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px  #a19e9e8c;
    background-color:rgb(252, 252, 252);
    text-align: center;
  }

.contacto p{
    margin: 5px;
    margin-bottom: 8px;
    font-size: 14px;
  }

.contacto h3{
    margin-top: 5px;
    font-size: 18px;
}

.form input{
    width: 85%;
    height: 30px;
    margin: 3px;
    padding-left: 5px;  
    font-size: 12px;  
    color: var(--gris);
}
    
.form textarea{
    width: 85%;
    margin: 0.5rem;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 12px;
    color: var(--gris);
}
  
.form button{
    padding: 0.5rem 1em;
    border: none;
    background: var(--azul-claro);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    color: white;
}

.form button:hover{
    background-color: var(--azul-oscuro);
}

@media screen and (max-width:500px) {
    .contacto p{
        margin: 5px;
        margin-bottom: 8px;
        font-size: 12px;
      }
    
    .contacto h3{
        margin-top: 5px;
        font-size: 14px;
    }

    .form input{  
        font-size: 10px;  
    }
        
    .form textarea{
        font-size: 10px;
    }
    
}