{% extends 'base_template.html' %}
{% load static %}
{% block contenido %}

  <body>
    
    <main class="contenedor_main">
      <section class="contacto">
        
        <h2><a href="{% url 'paciente:create' %}">Crear un paciente</a></h2>
        <br>
        <button type="submit">Crear un paciente</button>
        <br>
        <div class="list">
          {% for paciente in paciente_list %}
        
            <legend>Nombre: {{paciente.nombre_apellido}}</legend>
            <ul>
              <li>Direccion : {{paciente.direccion}}</li>
              <li>Mail: {{paciente.mail}}</li>
              <li>Edad : {{paciente.edad}}</li>
              <li>Telefono : {{paciente.telefono}}</li>
              <li>Peso: {{paciente.peso}}</li>
              <li>Alta_paciente : {{paciente.alta_paciente}}</li>
            </ul>
    
              <div>
                  <label for="">Detalles: </label>
                  <a href="{% url 'paciente:detail' paciente.id  %}">🟢</a>
              </div>
              <br>
              <div>
                  <label for="">Borrar: </label>
                  <a href="{% url 'paciente:delete' paciente.id %}">❌</a>
              </div>
              <br>
              <div>
                  <label for="">Editar: </label>
                  <a href="{% url 'paciente:update' paciente.id %}">📋</a>
              </div>
              <br>
          
          {% endfor %}
        </div>
      </section>
    </main>
    {% include 'footer_template.html' %}
  </body>
</html>

{% endblock %}