body{
    height: 100svh;
}

header{
    height: 25svh;
}

footer section{
    height: 20svh;
    margin: 0;
    padding: 0;
}

main{
    height: 55svh;
}

#contenedor_contr{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("../media/imagenes/FONDO_PACIENTES.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
     
}

#contenedor_contr h2{
    padding: 30px 0px 20px 20px;
}

#contenedor_contr a{
    margin-left: 40px;
    margin-bottom: 30px;
    background-color: var(--azul-oscuro);
    text-decoration: none;
    padding: 10px;
    color: white;
    display: inline-block;
}

.form {
    width: 80%;
    min-width: 370px;
    height: 30vh;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px  #f1eded8c;
    background-color:rgb(252, 252, 252);
    text-align: center;
  }

.form p{
    padding: 2%;
    color: var(--azul-oscuro);
}
  
.form input{
    width: 85%;
    height: 30px;
    margin: 1rem; 
    padding-left: 5px;   
}
    
.form textarea{
    width: 85%;
    margin: 0.5rem;
}
  
.form button{
    padding: 0.5rem 1em;
    border: none;
    background: var(--azul-claro);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    color: white;
}



