<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/dashboard.css" />
    <link rel="stylesheet" href="../assets/css/header.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />

    <!-- Iconos de redes -->
    <script src="https://kit.fontawesome.com/e30e97780d.js" crossorigin="anonymous"></script>

    <!-- FAVICON -->
    <link rel="icon" href="../assets/media/iconos/faviconfondo.ico">
    
    <!-- Formulario --> 
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
    <!-- Link hacia el archivo de estilos css -->
    <link rel="stylesheet" href="css/login.css">
    <style type="text/css">
    </style>
    <script type="text/javascript">
    </script>
</head>
<body class="pacientes">
    <header>
      <nav>
        <a href="../index.html">Principal</a>
        <a href="./pacientes.html">Autogestión</a>
        <a href="./contacto.html">Contacto</a>
        <a href="./quienes_somos.html">Quienes Somos</a>
      </nav>
      <h1 class="dashboard_h1">Pacientes</h1>
    </header>

    <main>
      <input type="button" value="Consultar datos" id="botonPacientes">
      <div id="datos">
        
      </div>
    </main>
 
    <footer>
        <section class="barra_inferior">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="mailto:example@mail.com"><i class="fa-regular fa-envelope"></i></a>
          </section>
        <script src="../assets/index.js"></script>
    </footer>
    <script src="../assets/js/dashboard.js"></script>
</body>
</html>