{% extends 'base_template.html' %}
{% load static %}
{% block contenido %}

    <main>
      <!-- imagenes para carrusel con animación de CSS -->
      <div class="slider">
        <ul>
          <li>
            <picture>
              <source srcset="{% static 'media/imagenes/consultas_movil.jpg'%}" media="(max-width:500px)"> />
              <img src="./assets/media/imagenes/Consultas.jpg" alt="">
            </picture>
          </li>
          <li> 
            <picture>
                <source srcset="./assets/media/imagenes/RECURSO_MOVIL.jpg" media="(max-width:500px)">
                <img src="./assets/media/imagenes/Recurso.jpg" alt="">
            </picture>
          </li>
          <li>
            <picture>
            <source srcset="./assets/media/imagenes/Recurso1_movil.jpg" media="(max-width:500px)">
            <img src="./assets/media/imagenes/recurso1.jpg" alt="">
            </picture>
          </li>
        </ul>
      </div>
      <!-- <div class="tablet_animation">
        <img src="assets/media/imagenes/consultas_tablet.jpg" alt="">
      </div> -->
      
      <!-- botones debajo del carrusel-->
      <div class="botones">
        <span><a href="https://www.whatsapp.com/"><img src="./assets/media/imagenes/celular.png" alt=""></a><p class="botones_texto">Atención<br> telefónica</p></span>
        <span><a href="https://calendly.com/es"><img src="./assets/media/imagenes/calendario.png" alt=""></a><p class="botones_texto">Central<br> de turnos</p></span>
        <span><a href="https://meet.google.com/"><img src="./assets/media/imagenes/Notebook.png" alt=""></a><p class="botones_texto">Consulta <br> virtual</p></span>
        <span><a href="./index.html#dondeestamos"><img src="./assets/media/imagenes/ubicacion.png" alt=""></a><p class="botones_texto">Ver <br> ubicación</p></span>
      </div>
      
      <div class="especialidad_container">
        <section class="especialidad">
          <img src="assets/media/imagenes/especialidad3.png" alt="">
          <div>
            <h3>Especialidad médica</h3> <br>
            <ul>
              <li>Ginecología - Telemedicina</li>
              <li>Histeroscopía y colposcopía</li>
              <li>Dolor pelviano crónico</li>
              <li>Tratamiento del HPV</li>
            </ul>
            <br>
            <p class="conoce_mas"><a href="./pages/quienes_somos.html"> Conocé más</a></p>
          </div>
        </section>
      </div>  
      <div class="fondo_ubicacion">
        <a name="dondeestamos">Donde estamos</a>
        <!-- <img src="/assets/media/imagenes/ubic_celular.png" alt=""> -->
      </div>

      <section class="map">
        <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.8699861789796!2d-64.1964236!3d-31.417708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a27e3488a775%3A0xb50ffe1a1cf715e4!2sGral.%20Jose%20Artigas%20395%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1696601737964!5m2!1ses-419!2sar" 
        width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        </div>
      </section>
    </main>

    <footer>
      <section class="barra_inferior">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="mailto:example@mail.com"><i class="fa-regular fa-envelope"></i></a>
      </section>
    </footer>

  </body>
</html>
  
{% endblock %}