{% extends 'base_template.html' %}
{% load static %}
{% block contenido %}

<body>
    <header>
      <nav>
        <a href="../index.html">Principal</a>
        <a href="./pacientes.html">Autogestión</a>
        <a href="./contacto.html">Contacto</a>
        <a href="./quienes_somos.html">Quienes Somos</a>
      </nav>
      <h1>Recuperar contraseña</h1>
    </header>

    <main>
      <div id="contenedor_contr">
        <br>
        <section>
          <form action="" class="form">
            <p>
            <b>Ingrese el correo con el que se ha registrado</b>
            </p>
            <input
              type="email"
              name="inputEmail"
              id="inputEmail"
              placeholder="EMAIL" 
              required
            />
            <button type="submit">Enviar</button>
          
          </form>
        </section>
        
        <br>
        <br>
        <a href="../pacientes.html"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i> Volver</a>
      </div>

      {% include 'footer_template.html' %}

    </main>

</body>
</html>

{% endblock %}