{% extends 'base_template.html' %}
{% load static %}
{% block contenido %}

<body>
    <h1>Recuperar contraseña</h1>
    <main>
      <div id="contenedor_contr">
        <br>
        <section>
          <form action="" class="form">
            <p>
            <b>Ingrese el correo con el que se ha registrado</b>
            </p>
            <input
              type="email"
              name="inputEmail"
              id="inputEmail"
              placeholder="EMAIL" 
              required
            />
            <button type="submit">Enviar</button>
          
          </form>
        </section>
        
        <br>
        <br>
        <a href="../pacientes.html"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i> Volver</a>
      </div>

      {% include 'footer_template.html' %}

    </main>

</body>
</html>

{% endblock %}