<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/style.css'%}" />
    <link rel="stylesheet" href="{% static './css/header.css'%}" />
    <link rel="stylesheet" href="{% static './css/footer.css'%}" />
    <link rel="stylesheet" href="{% static '../css/perdistecontr.css'%}" />

    <!-- Iconos de redes -->
    <script src="https://kit.fontawesome.com/e30e97780d.js" crossorigin="anonymous"></script>

    <!-- FAVICON -->
    <link rel="icon" href="../assets/media/iconos/faviconfondo.ico">

    <title>Recuperar contraseña</title>
    
</head>
<body>
    <header>
      <nav>
        <a href="../index.html">Principal</a>
        <a href="./pacientes.html">Autogestión</a>
        <a href="./contacto.html">Contacto</a>
        <a href="./quienes_somos.html">Quienes Somos</a>
      </nav>
      <h1>Recuperar contraseña</h1>
    </header>

    <main>
      <div id="contenedor_contr">
        <br>
        <section>
          <form action="" class="form">
            <p>
            <b>Ingrese el correo con el que se ha registrado</b>
            </p>
            <input
              type="email"
              name="inputEmail"
              id="inputEmail"
              placeholder="EMAIL" 
              required
            />
            <button type="submit">Enviar</button>
          
          </form>
        </section>
        
        <br>
        <br>
        <a href="../pages/pacientes.html"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i> Volver</a>
      </div>

      <footer>
        <section class="barra_inferior">
          <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="mailto:example@mail.com"><i class="fa-regular fa-envelope"></i></a>
        </section>
    </footer>

    </main>

</body>
</html>