<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
    <link rel="stylesheet" href= "{% static '../css/quienessomos.css'%}" />
    <link rel="stylesheet" href="{% static './css/style.css'%}" />
    <link rel="stylesheet" href="{% static './css/header.css'%}" />
    <link rel="stylesheet" href="{% static './css/footer.css'%}" />
     <!-- Iconos de redes -->
     <script src="https://kit.fontawesome.com/e30e97780d.js" crossorigin="anonymous"></script>

     <!-- FAVICON -->
    <link rel="icon" href="../assets/media/iconos/faviconfondo.ico">

    </head>
    <body>
    <header>
        <nav>
            <a href="../index.html">Principal</a>
            <a href="./pacientes.html">Autogestión</a>
            <a href="./contacto.html">Contacto</a>
            <a class="activo" href="./quienes_somos.html">Quienes Somos</a>
          </nav>
          <h1></h1>
    </header>
    <main class="quienes_container">
            <section class="quienes">
              <img src="../assets/media/imagenes/img_cara.jpg" alt="">
              <div>
                    <h3>Dr. Víctor Cortéz Pérez</h3>
                    <h3>MP 13888</h3>
                    <h4>Ginecología | Videocolposcopía</h4>
                    <p>Soy médico ginecólogo y cirujano histeroscopista colposcopista con más de 10 años de experiencia.
                    Me especializo en dolor pelviano crónico y en el tratamiento del HPV.
                    Actualmente me desarrollo como profesor universitario en la Universidad Nacional de Córdoba y trabajo en consultorios privados, atendiando presencial y virtualmente. 
                    </p>
              </div>
            </section>
    </main>
    <footer>
        <section class="barra_inferior">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="mailto:example@mail.com"><i class="fa-regular fa-envelope"></i></a>
        </section>
    </footer>
    </body>
</html>