{% extends 'base_template.html' %}
{% load static %}
{% block contenido %}


    <body>
 
    <main class="quienes_container">
            <section class="quienes">
              <img src="{% static '../media/imagenes/img_cara.jpg' %}" alt="">
              
              <div>
                    <h3>Dr. Víctor Cortéz Pérez</h3>
                    <h3>MP 13888</h3>
                    <h4>Ginecología | Videocolposcopía</h4>
                    <p>Soy médico ginecólogo y cirujano histeroscopista colposcopista con más de 10 años de experiencia.
                    Me especializo en dolor pelviano crónico y en el tratamiento del HPV.
                    Actualmente me desarrollo como profesor universitario en la Universidad Nacional de Córdoba y trabajo en consultorios privados, atendiando presencial y virtualmente. 
                    </p>
              </div>
              <footer>
                <section class="barra_inferior">
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="mailto:example@mail.com"><i class="fa-regular fa-envelope"></i></a>
                </section>
            </footer>
            </section>


    </main>

    </body>
</html>

{% endblock %}