{% extends 'base_template.html' %}
{% load static %}
{% block contenido %}


<body>
    <h1>Registrarse</h1>
    <main>
        <div id="contenedor_registro">
        <section>
          <form class="form">
            <input
              type="text"
              name="user"
              id="inputUsuario"
              placeholder="Nombre de usuario"
              required
            />
            <br>
            <input
              type="email"
              name="email"
              id="inputEmail"
              placeholder="Correo electrónico"
              pattern="^(\w+[/./-]?){1,}@[a-z]+[/.]\w{2,}$"
              title="Formato de Correo Invalido"
              required
            />
            <br>
            <input
              type="password"
              name="password"
              id="passwordEmail"
              placeholder="Ingrese su contraseña"
              required
            />
            <br>
            <input
            type="password"
            name="passwordConfirm"
            id="passwordConfirm"
            placeholder="Confirme su contraseña"
            required
          />
          <br>
            <button id="buttonEnviar" type="submit">Enviar</button>
          </form>
        </section>
        <br />
        <a href="../pacientes.html"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i> Volver</a>
      </div>

      {% include 'footer_template.html' %}
      
      </main>

    <script src="{% static '../js/registrarse.js'%}"></script>
    
</body>
</html>
{% endblock %}

