<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static './css/style.css'%}" />
    <link rel="stylesheet" href="{% static './css/header.css'%}" />
    <link rel="stylesheet" href="{% static './css/footer.css'%}" />
    <link rel="stylesheet" href="{% static '../css/registrarse.css'%}" />

    <!-- Iconos de redes -->
    <script src="https://kit.fontawesome.com/e30e97780d.js" crossorigin="anonymous"></script>
    
    <!-- FAVICON -->
    <link rel="icon" href="../assets/media/iconos/faviconfondo.ico">
    
    <title>Registrarse</title>
</head>
<body>
    <header>
      <nav>
        <a href="../index.html">Principal</a>
        <a href="./pacientes.html">Autogestión</a>
        <a href="./contacto.html">Contacto</a>
        <a href="./quienes_somos.html">Quienes Somos</a>
      </nav>
        <h1>Registrarse</h1>
    </header>
    <main>
        <div id="contenedor_registro">
        <section>
          <form class="form">
            <input
              type="text"
              name="user"
              id="inputUsuario"
              placeholder="Nombre de usuario"
              required
            />
            <br>
            <input
              type="email"
              name="email"
              id="inputEmail"
              placeholder="Correo electrónico"
              pattern="^(\w+[/./-]?){1,}@[a-z]+[/.]\w{2,}$"
              title="Formato de Correo Invalido"
              required
            />
            <br>
            <input
              type="password"
              name="password"
              id="passwordEmail"
              placeholder="Ingrese su contraseña"
              required
            />
            <br>
            <input
            type="password"
            name="passwordConfirm"
            id="passwordConfirm"
            placeholder="Confirme su contraseña"
            required
          />
          <br>
            <button id="buttonEnviar" type="submit">Enviar</button>
          </form>
        </section>
        <br />
        <a href="../pacientes.html"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i> Volver</a>
      </div>

      {% include 'footer_template.html' %}
      
      </main>

    <script src="{% static '../js/registrarse.js'%}"></script>
    
</body>
</html>

